@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vidaloka&display=swap');

:root{
    --color-main: #189ab4;
    --color-secondary: #05445E;
    --bg-body: #f8f8fb;
    --main-accent: #5ed1c6;
    --main-text: #494a4b;
    --success: #28A745;
    --danger: #DC3545;
    --shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    --text-color-light: #dbd0d0;
}

*{
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: var(--main-text);
    background: var(--bg-body);
    overflow-x: hidden;
}

#menu-toggle{
    display: none;
}

#menu-toggle:checked ~ .sidebar{
    display: none;
}

#menu-toggle:checked .main-content .engage-card{
    max-width: 698px;
}

#menu-toggle:checked .main-content .emails-card{
    max-width: 344px;
}

.page-wrapper{
    width: 95%;
    margin: auto;
    display: flex;
}

.page-wrapper::before{
    content: "";
    width: 100%;
    max-width: 100%;
    height: 430px;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--color-main);
    z-index: -1;/*posicion*/
    border-radius: 0px 0px 0px 100px;
}

.sidebar{
    width: 250px;
    margin-left: 40px;
}

.brand{
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.brand h3{
    font-size: 1.8rem;
    color: #fff;
}

.profile-card{
    text-align: center;
    margin: 1rem 0rem;
}

.profile-img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: .1rem;
    margin-bottom: 1.3rem;
}

.profile-info{
    color: #fff;
}
.profile-info h2{
    margin-bottom: .3rem;
}

.profile-info small{
    font-size: 1rem;
    color: #fefefe;
}

.profile-action{
    margin: 1.7rem;
}

.btn{
    border: none;
    outline: none;
    border-radius: 20px;
    padding: .6rem 2rem;
    display: flex;
    align-items: center;
    color: var(--main-accent);
    text-align: center;
}

.btn-white{
    background: #fff;
}

.btn span{
    font-size: 1.5rem;
    display: inline-block;
    margin-right: .6rem;
}

.profile-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.8rem;
}

.profile-icons span{
    display: inline-block;
    color: #fff;
    font-size: 1.5rem;
}

.sidebar-menu{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1.8rem;
}

.menu-item a{
    display: block;
    width: 100%;
    padding: .8rem 0rem;
    border-radius: 10px;
}

.menu-item a span{
    display: block;
    text-align: center;
    color: var(--main-text);
    font-size: 1.1rem;
}

.menu-item a span:first-child{
    font-size: 2rem;
    margin-bottom: .4rem;
}

.menu-item a.active{
    background: var(--color-main);
}

.menu-item a.active span{
    color: #fff;
}

.sidebar-card{
    padding: 1rem;
    border-radius: 10px;
    background: var(--color-secondary);
    margin: 2rem 0rem;
    color: #fff;
}

.sidebar-card h3{
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.sidebar-card p{
    line-height: 1.9rem;
    margin-bottom: 1rem;
    font-size: .9rem;
    text-align: justify;
}

.sidebar-card a{
    text-align: center;
    font-weight: 600;
    color: var(--main-text);
    display: block;
    font-size: 1.1rem;
}

.main-content{
    padding: 0 20px 0px 60px;
    flex: 1;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid var(--main-text);
    color: #fff;

}

header label{
    display: inline-block;
    font-size: 1.4rem;
}

.head-icons{
    display: flex;
    align-items: center;
}

.head-icons a{
    color: white;
}

.head-icons span{
    margin-right: 2.5rem;
    display: inline-block;
    font-size: 1.2rem;
}

.head-avatar{
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: var(--color-secondary);
}

.head-avatar .avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.head-avatar span{
    margin-right: 0;
    padding: 0rem .6rem;
    font-size: .85rem;
    font-weight: 600;
    margin-left: -2.5rem;
}

.head-icons a.active{
    margin-right: 1.5rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: var(--main-accent);
}

.head-icons a.active span{
    color: rgb(0, 0, 0);
}

/*main*/
.page-header{
    color: #fff;
    margin: 1.5rem 0rem;
}

/*CARD DE   ANALISIS*/
.analytics{
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: 1rem;
    margin-top: 2rem;
}

#save { 
    color: #ffffff;
    margin: 0rem 0rem .5rem 10rem;
}

#update { 
    color: #000000;
    margin: 0rem 0rem .5rem 10rem;
}


.card{
    background: #fff;
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 1rem;
}

.card-head{
    font-size: 1rem;
    color: rgb(39, 43, 46);
    font-weight: 600;
    padding: 1rem 2rem;
    border-bottom: 1px solid #eee;
}

.card-body{
    padding: 1rem 2rem;
}

/*tabla*/
table {
    background-color: #ffffff;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    display: block;
    overflow-x: auto;
}

th, td {
    border: solid 1px black;
    padding: 0;
}

thead {
    background-color: var(--color-secondary);
    border-bottom: solid 5px;
    color: rgb(228, 228, 228);
}

tr:nth-child(even) {
    background-color: #D4F1F4;
}

#btn-tabla i{
    color: #fff;
}

#resport1, #resport2, #resport3{
    color: #f8f8fb;
}

/*footer*/
.footer__copy {
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-top: 9rem;
    background-color: #0a78a3;
    padding: 2rem;
    border-radius: 1rem;
}


@media only screen and (max-width: 1280px) {
    .sidebar{
        display: none;
    }

    #menu-toggle:checked ~ .sidebar{
        display: block;
    }
}

@media only screen and (max-width: 980px) {
    .main-content{
        padding: 0 20px;
        flex: 1;
    }

    .analytics {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 640px) {
    .page-wrapper::before{
        min-width: 640px;
    }
}